{
    "presets": [
        ["env", {
            "targets": {
                "node": "current"
            }
        }]
    ],

    "plugins": [
        "transform-runtime",
        "transform-object-assign",
        "transform-object-rest-spread"
    ]
}
