.DS_Store
.assets
.project
.settings
.buildpath
.pydevproject
.htpasswd
.htgroup
.sass-cache
.commit
.git
.idea
.env

build
temp
node_modules

storage/cache/*
storage/database/*

data/config/local.*

*.*~
*.bak
*.old
*.resharper
*.iml
*.ipr
*.iws
*.log
*.pyc
*.orig
