.DS_Store
.assets
.project
.settings
.buildpath
.pydevproject
.htpasswd
.htgroup
.sass-cache
.commit
.git
.idea

temp
node_modules

storage/cache/*
storage/database/*

*.*~
*.bak
*.old
*.resharper
*.iml
*.ipr
*.iws
*.log
*.pyc
*.orig
