META-INF
path.xml
work.xml
package-lock.json

.DS_Store
.assets
.project
.settings
.buildpath
.pydevproject
.htpasswd
.htgroup
.sass-cache
.commit
.idea
.env

temp
build
vendor
node_modules

data/config/local.*

storage/cache/*
storage/database/*
!storage/cache/.gitkeep
!storage/database/.gitkeep


*.*~
*.bak
*.old
*.resharper
*.iml
*.ipr
*.iws
*.log
*.pyc
*.orig
