META-INF
path.xml
work.xml
package-lock.json

.DS_Store
.assets
.project
.settings
.buildpath
.pydevproject
.htpasswd
.htgroup
.sass-cache
.commit
.idea
.env

app
temp
vendor
node_modules
config/config.js

*.*~
*.bak
*.old
*.resharper
*.iml
*.ipr
*.iws
*.log
*.pyc
*.orig
