META-INF
path.xml
work.xml
package-lock.json

.DS_Store
.assets
.project
.settings
.buildpath
.pydevproject
.htpasswd
.htgroup
.sass-cache
.commit
.idea
.env

temp
build
vendor
node_modules
data/config/*
!data/config/eslint
!data/config/gitlab
!data/config/config.example.js


*.*~
*.bak
*.old
*.resharper
*.iml
*.ipr
*.iws
*.log
*.pyc
*.orig
